# Telegram
TELEGRAM_BOT_TOKEN=88204766956:AAF89KLNoqf1-yIwVze-zULpkluP35uTxaI
TELEGRAM_BOT_URL=https://t.me/dopewalletbot

# Solana
RPC_URL=https://api.mainnet-beta.solana.com
HELIUS_API_KEY=649a52fa-cd3f-4f0d-93d5-6c95db23650f

# Jupiter API
JUPITER_API_URL=https://quote-api.jup.ag/v6

# Supabase
SUPABASE_URL=https://REDACTED.supabase.co
SUPABASE_KEY=REDACTED

# DexScreener
DEX_API_URL=https://api.dexscreener.com/latest/dex
NEXT_PUBLIC_BACKEND_URL=https://dopewalletbot-production.up.railway.app
OPEN_AI_API_KEY=REDACTED


# AI Module
AI_ENABLED=true

# Server
PORT=5000
JWT_SECRET=h8Smq2zYbD4ZzBzWujxO1n9Zn9Lw/ibfF3+Nq4VxPYi1b1f5Hzk6Uf0RKiN8ZcJYk1W3v2Gj9x1HfPzB4oZ

